.container {
  width: 500px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.header {
  text-align: center;
}

.result {
  text-align: center;
}

.value {
  background-color: coral;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

span {
  font-weight: bold;
}
